* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.frame {
  position: relative;
  padding-top: 50px;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items:start;
  justify-content: center;
}

svg{
 
  width: 100%;
  position: absolute;
  bottom: 0;
}

.first{
  bottom: 22px;
}
form {
  color: rgba(0, 0, 0, 0.676);
 z-index: 10;
 position: relative;
  text-transform: capitalize;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.333);
  padding: 30px 37px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 80%;
  height: 100%;
}
.back{
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
   width: 50%;
  height: 71%;
 z-index: 0;
  position: relative;
}

.back-layer {
  
  background-color: rgb(255, 255, 255);
  width: 137%;
  height: 60%;
  position: absolute;
  bottom: -18%;
  left: -19%;
}
.lable {
  width: 100%;
}

form input {
  padding-inline: 15px;
  margin-top: 10px;
  height: 40px;
  width: 100%;
}

form button {
  color: white;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 6px;
background: linear-gradient(180deg, #625BF7 0%, #463EEA 100%);
  width: 100%;
  height: 40px;
}

.sign {
    transform: translate(-50%, 10px);
    left: 50%;
    bottom: -10%;
    position: absolute;
}